.container {
  width: 100%;
  background-color: white;
  overflow: auto;
  bottom: 0;
  position: fixed; 
}

.container a {
	float: left;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
	color: white;
	text-decoration: none;
	font-size: 17px;
  }

  .container i {
	  color: green
  }

  .header {
	top: 30px;
  }
  
