footer
{
	padding: 5rem 0;
}

footer .container
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    margin-top: 0;
}

.footer-nav ul
{
	display: flex;
	flex-wrap: wrap;
    list-style: none;
}

.footer-nav ul li
{
    margin-right: 1.2rem;
}
